body 
{	font-family: 'Late', sans-serif;


	background-color:with;
	color:purple;
}
	b
}
img {max-width:100%;
	
}
.quitar-float {
	float: none;
}
.espacio-arriba{
	margin-top: 100px;
}
.pacifico{
	font-family: 'Pacifico', cursive;
}
.se-gris{
	background-color: #f0f;
}
.padding-largo{
	padding: 5px 10px;
}
.grande {
	font-size: 6em;
}
.verde{
	color: #00887C;
}
.retraso-1{
	-webkit-animation-delay:1s;
	-moz-animation-delay:1s;
	animation-delay:1s;
}
.retraso-2{
	-webkit-animation-delay:1s;
	-moz-animation-delay:1s;
	animation-delay:1s;
}
.inline-block{
	float:none;
	display:inline-block;
	margin-right: -4px;
}
.nolista{
	margin:0px;
	padding:0px;
}
.nolista li{
	list-style-type: none;
}
.espacio-derecha {
	margin-right: 1em;
}
a,.azul {color: #009FFF;
}